/*==========================*/
/*=======Default CSS=======*/
/*========================*/


  /*  font-family: 'Hammersmith One', sans-serif;

    font-family: 'Playfair Display', serif;*/
html{
	font-size: 62.5%;
	line-height: 2.5rem;
}
 body{
    	font-family: 'Roboto', sans-serif;
    }
.container{
    	max-width: 1140px;
    	width: 100%;
    	margin: 0 auto;
    }
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}

a{
	text-decoration: none;
	font-size: 13px;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

h1{
	font-family: 'Playfair Display', serif;
	color: #fff;
	font-size: 32px;

}
h2{
	 font-family: 'Playfair Display', serif;
	 font-size: 22px;
	color: #413d4b;
}
h3{
	font-weight: 900;
	font-size: 1.5rem;
	color: #413d4b;
}
h4{
	font-weight: 300;
	font-size: 1.3rem;
}
p{
	font-size: 15px;
	color: #413d4b;

}

.btn_1{
	font-family: 'Hammersmith One', sans-serif;
	font-weight: 400;
	color: #00e0d0;
	text-transform: uppercase;
	font-size: 16px;
	border: 2px solid #00e0d0;
	border-radius: 3px;
	display: inline-block;
	padding: 12px 20px;
	transition: .5s;
}
.section_padding{
	padding: 7rem 0;
}
/*=====Header Area Css============*/
/*=====Header Area Css============*/
/*=====Header Area Css============*/
.header_area{
	background:url('../images/banner.jpg') no-repeat scroll 0 0  / cover;
	position: relative;
	z-index:1;
}
.footer_area:after,
.testimonials_area:after,
.team_area:after,
.watch_area:after,
.header_area:after{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: #3b2f61;
	opacity: .85;
	top: 0;
	left: 0;
	z-index: -1;
}
.header{
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	box-sizing: border-box;
	justify-content: space-between;
}
.nav_icon {
	display: block;
	color: #fff;
	font-size: 3.5rem;
	display: none;
}

.menu ul{
	display: flex;
}
.menu ul li a{
	display: inline-block;
	text-transform: uppercase;
	padding: 10px 20px;
	font-weight: 900;
	color: #fff;
	font-size: 16px;
}
.menu ul li a.active,
.menu ul li a:hover{
	color: #00e0d0;
}
/*=========Banner Area Css==========*/
/*=========Banner Area Css==========*/
/*=========Banner Area Css==========*/
.banner_area{
	text-align: center;
	padding: 165px 0 65px 0;
}
.banner h1{
	font-weight: 900;
	padding-bottom: 25px;
	margin-bottom: 30px;
	position: relative;
}
.banner h1:after{
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	width: 50px;
	height: 1px;
	background: #00e0d0;

}
.banner p {
	color: #fff;
	font-weight: 300;
	max-width: 775px;
	width: 65%;
	line-height: 25px;
	margin: auto;
}
.banner a{
	margin: 5rem 0;
}

.banner a:hover{
	background: #00e0d0;
	color: #fff;
	/*border: 2px solid #fff;*/
	
}
.dots_area ul{
	display: flex;
	justify-content: center;
	margin-top: 55px;

}
.dots_area ul li a{
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	background: transparent;
	border: .1rem solid #fff;
	margin-right: 1rem;
	border-radius: 50%;
}
.dots_area ul li a.active,
.dots_area ul li a:hover{
	background: #00e0d0;
}
/*==========================*/
/*==========STORY AREA======*/
/*==========================*/
.story_area{
	background: #fff;
}
.story{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.story_left{
	text-align: center;
	flex: 0 0 50%;
}
.story_right{
	flex: 0 0 50%;
}
.story_right h2{
	margin-bottom: 3rem;
}

.story_right p{
	font-weight: 300;
	line-height: 2.5rem;
	margin-bottom: 3rem;
}
.story_right a:hover{
	background: #00e0d0;
	color: #fff;
}
/*==================================*/
/*========Watch Area CSS========*/
/*==================================*/
.watch_area{
	background: url('../images/watch-bg.jpg') no-repeat scroll 0 0 / cover;
	position: relative;
	padding: 20rem;
	text-align: center;
	z-index: 1;
}
.watch h2{
	color: #fff;
	margin-top: 3rem;
}
/*===============================*/
/*======Expertise Area CSS =====*/
/*=============================*/
.expertise{
	text-align: center;
}
.expertise h2{
	font-weight: 700;
}

.expertise p{
	padding: 2rem 0;
	position: relative;
	margin-bottom: 8rem;
}
.team_area_top p:after,
.expertise p:after{
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	width: 50px;
	height: 1px;
	background: #c6c4c9;

}

.expertise_item{
	display:grid;
	grid-template-columns: auto auto auto;
}
.single_expertise{
	text-align: center;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 20px;
}


.single_expertise:nth-child(4),
.single_expertise:nth-child(5),
.single_expertise:nth-child(6){
	border-bottom: 1px solid transparent;
}
.single_expertise:nth-child(3),
.single_expertise:nth-child(6){
	border-right: 1px solid transparent;
}

.single_expertise img{
	height: 5rem;
	width: auto;
}
.single_expertise h3{
	margin-top: 3.5rem ;
}
.single_expertise p{
	max-width: 26rem;
	width: 90%;
	margin: 0 auto;
	padding-top: 3rem;
	line-height: 2.5rem;
}

/*===========================*/
/*=========Start Team Area======*/
/*===========================*/
.team_area{
	background: url('../images/team/team-bg.jpg') no-repeat scroll 0 0 / cover;
	position: relative;
	z-index: 1;
}
.team_area_top{
	text-align: center;
}
.team_area_top h2{
	color: #fff;
}
.team_area_top p{
	padding: 2rem 0;
	margin-bottom: 4.5rem;
	position: relative;
	color: #fff;
}
.team_members{
	display: grid;
	grid-template-columns: repeat(4,calc(25% - 15px));
	grid-column-gap: 20px;
}
.single_team_member{
	display: block;
	width: 100%;
	height: 100%;
}
.single_team_member img{
	width: 100%;
	height: 30rem;
	object-fit: cover;
}

.member_details {
	text-align: center;
	padding: 2.5rem 6rem;
	border: 1px solid #79778d;
	margin-top: -10px;
}
.member_details h3{
	color: #fff;
	margin-bottom: 1rem;
}
.member_details h4{
	color: #fff;
	opacity: .7;
}
.team_bottom{
	text-align: center;
}
.team_bottom p{
	margin-top: 7rem;
	color: #fff;
}
.team_bottom a{
	margin-top: 2.5rem;
}
.team_bottom a:hover{
	background: #00e0d0;
	color: #fff;
}

/*==================================*/
/*=========Start Works Area=========*/
/*=================================*/
.works_top{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.works_top i{
	margin-left: 1rem;
}
.works_top a {
	color: #413d4b;
	font-size: 1.4rem;
}

.works{
	display: grid;
	grid-template-columns: repeat(6,auto);
}
.single-work img{
	display: block;
	width: 100%;
	height: 100%;
	display: block;
}
.works_button{
	text-align: center;
}
.works_button a:hover{
	background: #00e0d0;
	color: #fff;
}

/*=======================*/
/*=======================*/
/*=======================*/
.testimonials_area{
	background: url('../images/testi/testi-bg.jpg') no-repeat scroll 0 0 / cover;
	position: relative;
	z-index: 1;
}

.testi_contents{
	text-align: center;

}
.testi_contents img{
	
	margin-bottom: 4.5rem;
}
.testi_contents p{
	max-width: 69rem;
	width: 100%;
	margin: 0 auto;
	color: #fff;
	line-height: 2.5rem
}
.testi_contents h3{
	color: #fff;
	margin: 5rem 0 1rem 0;

}
.testi_contents h4{
	color: #fff;
}
.single_testi ul{
	display: flex;
	justify-content: center;
	align-items: center;
}

.testi_items{
	margin-top: 4.5rem;
}
.single_testi ul li{
	margin-right: 1rem;
}
.single_testi ul li i{
	color: #fff;
	font-size: 2rem;
}

.single_testi ul li i:first-child{
	margin-right: 2rem;
}
.single_testi ul li i:last-child{
	margin-left: 2rem;
}
.contact{
	display: flex;
	flex-wrap: wrap;
box-sizing: border-box;

}
.contact_form{
	margin-top: 3rem;
}
.contact_left,
 .contact_right{
	flex: 0 0 50%;
	box-sizing: border-box;
}
.input_item{
	margin-bottom: 2rem;
}
  .input_item textarea{
  	height: 20rem;
  }
   .input_item textarea::placeholder{
    	opacity: 1!important;
    }
.input_item input[type="text"],
 .input_item input[type="email"],
  .input_item textarea {
	color: rgba(65,61,75,0.5);
	font-size: 1.4rem;
	padding: 1.7rem 2rem;
	width: 100%;
	box-sizing: border-box;
	border: 0.1rem solid #e5e5e5;
	font-weight: 300;
}


.works_button{
	text-align: center;
}
.works_button a:hover{
	background: #00e0d0;
	color: #fff;
}
.contact_form form input[type="submit"]:hover{
	background: #00e0d0;
	color: #fff;
}

/*Contact right*/
.contact_right{
	padding-left: 8.33rem;
}
.clients {
	margin-top: 5rem;
	display: grid;
	grid-template-columns: auto auto;
	grid-row-gap: 5rem;
	justify-content: space-between;
	align-items: center;
}

/*=====================================*/
/*=============footer_area=============*/
/*=====================================*/
.footer_area{
	background: url('../images/footer-bg.jpg') no-repeat scroll 0 0 / cover;
	position: relative;
	z-index: 1;
}

.footer_top{
	display: flex;
	flex-wrap: wrap;
}

.footer_left,
.footer_center,
.footer_right{
	flex: 0 0 33.33%;
}

.footer_left p {
	color: #fff;
	max-width: 29rem;
	width: 100%;
	margin-top: 2rem;
}
.footer_center h3,
.footer_right h3{
	margin-bottom: 4rem;
	color: #fff;
	font-weight: 900;
}
.footer_center ul li{
	margin-bottom: 3rem;
}
.footer_center ul li a,
.footer_center ul li  span{
	font-weight: 300;
	font-size: 1.4rem;
	color: #fff;
	max-width: 90%;
}
.footer_center ul li{
	display: flex;
}
.footer_center ul li i {
	color: #fff;
	font-size: 2rem;
	margin-right: 1rem;
	line-height: 25px;
}

.subscribe form {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.subscribe input[type="email"] {
	width: 80%;
	font-size: 1.4rem;
	padding: 1rem 2rem;
	border: 0.1rem solid #9e98b0;
	background: transparent;
	color: #FFF;
}
.subscribe input[type="email"]:focus{
	box-shadow: 0 0 0.5rem #FFF;
}
.subscribe button {
	background: rgba(255,255,255,.5);
	border: none;
	padding: .6rem 2rem;
	cursor: pointer;
	margin-left: 1rem;
}
.subscribe button:hover{
	background: rgba(255,255,255,1);
}
/*Social*/
.social{
	margin-top: 3rem;
}
.social ul{
	display: flex;
	flex-wrap: wrap;
}
.social ul li a {
	display: inline-block;
	border: 1px solid #fff;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	text-align: center;
	font-size: 18px;
	line-height: 38px;
	margin-right: 1rem;
	color: #fff;
	transition: .4s;
}
.social ul li a:hover{
	color:#2F1C5B;
	background: #FFF;
}

.copyright{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 4rem;
}

.copyright_left ul{
	display: flex;

}
.copyright_left ul li a{
	display: block;
	color: #fff;
	margin-right: 3.5rem;
}

.copyright_right p{
	color: #fff;

}
